h3 Reset Password
form(action='/resetPassword', method='post')
    | Reset Password Token :
    input(type='text', name='token')
    | New Password :
    input(type='password', name='new_password')
    input(type='submit', value='submit')