h1 UserLogin
h3 RegisterFromEmail
form(action='/registerFromEmail', method='post', enctype='multipart/form-data')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='email', name='email')
    | password :
    input(type='password', name='password')
    | mobile :
    input(type='text', name='mobile')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    | profile_pic :
    input(type='file', name='profile_pic')
    input(type='submit', value='submit')
h3 EmailLogin
form(action='/emailLogin', method='post')
    | email :
    input(type='email', name='email')
    | password :
    input(type='password', name='password')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 userLogout
form(action='/userLogout', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 forgotPassword
form(action='/forgotPassword', method='post')
    | email :
    input(type='email', name='email')
    input(type='submit', value='submit')
h3 access Token Login
form(action='/accessTokenLogin', method='post')
    | access_token :
    input(type='text', name='access_token')
    | device_token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app_version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 userProfile
h3 getProfileData
form(action='/getProfileData', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 editProfileData
form(action='/editProfileData', method='post', enctype="multipart/form-data")
    | access_token :
    input(type='text', name='access_token')
    | email :
    input(type='text', name='email')
    | mobile :
    input(type='text', name='mobile')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | profile_pic :
    input(type='file', name='profile_pic')
    input(type='submit', value='submit')
h3 changePassword
form(action='/changePassword', method='post')
    | access_token :
    input(type='text', name='access_token')
    | old_password :
    input(type='password', name='old_password')
    | new_password :
    input(type='password', name='new_password')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 Booking
h3 Get Drivers
form(action='/getDrivers', method='post')
    | access_token :
    input(type='text', name='access_token')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | radius (in metres) :
    input(type='text', name='radius')
    input(type='submit', value='submit')
h3 Booking
form(action='/booking', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_time :
    input(type='datetime-local', name='booking_time')
    | address :
    input(type='text', name='address')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | radius (in metres) :
    input(type='text', name='radius')
    input(type='submit', value='submit')